$alpha-black: rgba(0, 0, 0, 0.5);
$black: #2A3A3F;
$gray: #ccc;
$lt-gray: #eee;
$dk-gray: #222;
$base: #3498db;
h1,
h2,
h3,
h4,
h5,
h6,
body {
    font-family: 'Lato', sans-serif !important;
}

.base {
    color: $base;
}

::-moz-selection {
    background: $base;
    color: white;
}

::selection {
    background: $base;
    color: white;
}

body {
    margin: 0 auto;
    background-size: cover;
}

.row {
    margin-top: 0;
    margin-bottom: 0;
}

.header-wrapper {
    height: 100vh;
    background-color: $black;
    background: linear-gradient($alpha-black, $alpha-black), url('../res/bg-1-min.jpg');
}

.nav-wrapper {
    margin: 0;
    padding: 0;
    background: $alpha-black;
    color: white;
    .nav-name {
        margin: 0;
        padding: 0.5rem;
        font-size: 1.5rem;
    }
    .nav-link {
        float: right;
        padding: 0.5rem;
        margin: 0.5rem;
        font-size: 1rem;
        border: none;
        transition: 0.3s;
        color: white;
    }
    .nav-link:hover {
        color: gray;
    }
}

.header {
    width: 50vw;
    border-top: 1px dashed white;
    border-bottom: 1px dashed white;
    margin: 25vh auto;
    margin-bottom: 0;
    padding: 2rem 0;
    .name {
        font-size: 4rem;
        font-weight: 300;
        color: white;
    }
    .skills {
        font-size: 2rem;
        color: white;
    }
}

.links {
    margin: 2rem auto;
    .body-link {
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
        border: 1px solid white;
        color: white;
    }
    .body-link:hover {
        background: white;
        color: black;
    }
}

.btn {
    margin: 1rem;
    padding: 1rem 2rem;
    font-weight: 700;
    border: 2px solid $base;
    border-radius: 5rem;
    background: $black;
    color: white;
    transition: 0.3s;
}

.btn:hover {
    font-size: 1rem;
    background: $base;
    color: $black;
}

.down {
    text-align: center;
    a {
        position: absolute;
        bottom: 1rem;
        font-size: 1rem;
        color: white;
        transition: 0.2s;
    }
    a:hover {
        color: $gray;
    }
}

.content-wrapper {
    background: white;
}

.content {
    margin: 0 auto;
    h3 {
        font-weight: 900;
        line-height: 1rem;
    }
    .expertise {
        .expertise-header,
        .expertise-content {
            padding: 5rem 0;
            margin: 0 auto;
            h3 {
                color: $black;
            }
            p {
                font-family: 'Lato', sans-serif;
                font-size: 1.25rem;
                font-weight: 300;
                color: $dk-gray;
            }
        }
        .expertise-content {
            h1 {
                i {
                    margin: 1rem auto;
                    font-size: 4rem;
                }
            }
            h3 {
                padding: 1rem 0;
                color: $black;
            }
            p {
                font-size: 1rem;
                color: gray;
            }
        }
    }
    .portfolio {
        height: 40rem;
        padding: 5rem 0;
        background: $lt-gray;
        .project-container {
            overflow: hidden;
            .project {
                height: 20rem;
                padding: 20% 0;
                text-align: center;
                font-size: 1.75rem;
                font-weight: 700;
                transition: 0.2s;
                color: transparent;
                background-size: contain;
                background-position: center;
            }
        }
        .row {
            .project-container:nth-child(1) {
                .project {
                    background-image: url('../res/withoutcaps-min.PNG');
                }
                .project:hover {
                    border: 5px solid $black inset;
                    background-image: none;
                    background-color: white;
                    color: $black;
                    border: 1rem solid $black;
                }
            }
        }
        .row {
            .project-container:nth-child(2) {
                .project {
                    background-image: url('../res/codindrops-min.PNG');
                }
                .project:hover {
                    background-image: none;
                    background-color: white;
                    color: $black;
                    border: 1rem solid $black;
                }
            }
        }
        .portfolio-header {
            padding-bottom: 2rem;
            color: $black;
            h3 {
                padding: 1rem;
                font-weight: 900;
            }
        }
    }
    .collaborate-wrapper {
        padding: 8rem 25%;
        text-align: center;
        background: $base;
        color: white;
        h3 {
            font-size: 2rem;
        }
        p {
            margin: 1rem;
            padding: 1rem;
            font-size: 1.3rem;
            font-weight: 300;
        }
        .btn {
            padding: 0.75rem 2.5rem;
            font-size: 1.2rem;
            border-color: white;
            background: transparent;
        }
        .btn:hover {
            padding: 0.75rem 3rem;
            background: white;
            color: $base;
        }
    }
    .collaborate-container {
        top: 0;
        position: fixed;
        height: 0;
        width: 0;
        overflow: hidden;
        transition: 0.3s;
        background: $black;
        color: white;
        text-align: center;
        .close {
            float: right;
            position: absolute;
            top: 1rem;
            right: 5rem;
            cursor: pointer;
            font-weight: 100;
            font-size: 2rem;
            color: white;
        }
        .collaborate {
            position: relative;
            margin: 5rem auto;
            width: 50vw;
            h2 {
                color: white;
            }
            p {
                font-size: 1.5rem;
                font-weight: 300;
            }
            form {
                margin: 1rem 5vw;
                input,
                textarea {
                    padding: 0.5rem;
                    border: 2px solid white;
                    border-radius: 3px;
                    font-size: 0.8rem;
                    background: transparent;
                    color: white;
                    box-shadow: none;
                }
                input:placeholder {
                    font-size: 0.8rem;
                    color: $gray;
                }
                textarea {
                    resize: none;
                    height: 10rem;
                }
                .btn {
                    margin: 1rem 0;
                    padding: 1rem 2rem;
                    font-weight: 700;
                    border: 2px solid $base;
                    border-radius: 5rem;
                    background: $black;
                    color: white;
                    transition: 0.3s;
                    cursor: pointer;
                }
                .btn:hover {
                    font-size: 1rem;
                    background: $base;
                    color: white;
                }
            }
        }
    }
    @media screen and (max-width: 1920px) {
        .collaborate-container {
            .collaborate {
                width: 40vw;
                p {
                    font-size: 1.5rem;
                }
                form {
                    input, textarea{
                        font-size: 1.2rem;
                    }
                    textarea {
                        height: 15rem;
                    }
                    .btn:hover{
                        padding-left: 2.5rem;
                        padding-right: 2.5rem;
                        font-size: 1.2rem;
                    }
                }
            }
            .close {
                right: 2rem;
            }
        }
    }
    @media screen and (max-width: 1366px) {
        .collaborate-container {
            .collaborate {
                width: 40vw;
                p {
                    font-size: 1rem;
                }
                form {
                    input, textarea{
                        font-size: 0.8rem;
                    }
                    textarea {
                        height: 10rem;
                    }
                    .btn:hover{
                        padding-left: 2rem;
                        padding-right: 2rem;
                        font-size: 1rem;
                    }
                }
            }
            .close {
                right: 2rem;
            }
        }
    }
    @media screen and (max-width: 980px) {
        .portfolio {
            height: 65rem;
            padding: 5rem 10rem;
            .project-container {
                .project {
                    height: 20rem;
                    margin: 1rem;
                }
            }
        }
    }
    @media screen and (max-width: 480px) {
        .portfolio {
            height: 45rem;
            padding: 1rem 2rem;
            .project-container {
                .project {
                    height: 15rem;
                    margin: 1rem;
                }
            }
        }
        .collaborate-wrapper {
            padding: 4rem;
        }
    }
    @media screen and (max-height: 640px) {
        .expertise {
            .expertise-content {
                padding-top: 0;
            }
        }
        .collaborate-wrapper {
            padding: 2rem 10%;
        }
        .collaborate-container {
            .collaborate {
                width: 75vw;
                p {
                    font-size: inherit;
                }
            }
            .close {
                right: 1rem;
            }
        }
    }
    @media screen and (max-height: 480px) {
        .collaborate-container {
            .collaborate {
                margin: 1rem;
                width: 85vw;
                p {
                    font-size: 0.9rem;
                }
                form {
                    textarea {
                        height: 5rem;
                    }
                }
            }
            .close {
                top: 0.5rem;
                right: 0.5rem;
                font-size: 1.2rem;
            }
        }
    }
    @media screen and (max-width: 320px) {
        .collaborate-wrapper {
            h3 {
                font-size: 1.25rem;
            }
            p {
                margin-bottom: 0;
                font-size: 1rem;
            }
            .btn {
                font-size: 1rem;
                padding: 0.5rem 0.75rem;
            }
            .btn:hover {
                font-size: 1rem;
                padding: 0.5rem 1rem;
            }
        }
        .portfolio {
            .row {
                .project-container:nth-child(1) {
                    .project:hover {
                        border: 0.5rem solid $black;
                    }
                }
            }
            .row {
                .project-container:nth-child(2) {
                    .project:hover {
                        border: 0.5rem solid $black;
                    }
                }
            }
        }
    }
}

footer {
    margin: 0;
    background: $black;
    color: gray;
    .footer-wrapper {
        padding: 4rem;
        padding-top: 2rem;
        font-size: 1rem;
        text-align: center;
        .icon-logo, .icon-logo-2{
            padding-bottom: 2rem;
            font-size: 3rem;
            color: $base;
        }
        p{
            margin-top: 1rem;
        }
        a {
            margin: 0.5rem;
            padding: 0.75rem;
            border-radius: 50%;
            background: $dk-gray;
            color: gray;
            transition: 0.3s;
            i {
                height: 1rem;
                width: 1.25rem;
                font-size: 0.9rem;
            }
        }
        a:hover {
            background: $base;
            color: white;
        }
    }
}

@media screen and (max-width: 980px) {
    .header-wrapper {
        .nav-wrapper {
            .row {
                .columns {
                    width: auto;
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .header {
        .row {
            .columns {
                width: 50vw;
            }
        }
    }
    .portfolio {
        height: 60rem;
        padding: 2rem 5rem;
    }
}

@media screen and (max-width: 768px) {
    .header {
        width: 75vw;
        .name {
            font-size: 3.5rem;
        }
    }
}

@media screen and (max-height: 640px) {
    .header {
        .name,
        .skills {
            font-size: 2.5rem;
        }
    }
    .links {
        .body-link {
            font-size: 1rem;
        }
    }
    footer {
        .footer-wrapper {
            padding: 5rem 1rem;
            a {
                margin: 0.25rem;
                padding: 0.5rem;
            }
        }
    }
}

@media screen and (max-height: 480px) {
    .header {
        margin: 2rem auto;
        margin-bottom: 0.5rem;
        .name,
        .skills {
            font-size: 1.5rem;
        }
    }
    .links {
        .body-link {
            font-size: 0.8rem;
        }
    }
    footer {
        .footer-wrapper {
            padding: 2.5rem 0.5rem;
            a {
                margin: 0.25rem;
                padding: 0.5rem;
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .content {
        .expertise {
            .expertise-header {
                padding: 5rem 1rem;
            }
        }
    }
}

/* EXTRAS */ 

/* Bliking cursor */
.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    font-size: 2rem;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/*end*/

/* Logo Icon Font */
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?48bw9r');
  src:  url('fonts/icomoon.eot?48bw9r#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?48bw9r') format('truetype'),
    url('fonts/icomoon.woff?48bw9r') format('woff'),
    url('fonts/icomoon.svg?48bw9r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo-2:before {
  content: "\e901";
}
.icon-logo:before {
  content: "\e900";
}
/*end*/